body {
    font-family: system-ui;
    margin: 0px;
}

div#configure {
    margin: 10px;
}
div#control {
    margin: 10px;
}
div#checkin_list {
    margin: 10px;
}

.header {
    color: #FFE3AD;
    background-color: #454090;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_niji {
    color: white;
    background-color: #F39728;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-nav {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}
.nav-list {
    margin-left: 30px;
}

#error_notify {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    justify-content: space-between;
    align-items: center;
    background-color: #DD253F;
    padding: 10px 10px 10px 10px;
}
#error_notify_niji {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    justify-content: space-between;
    align-items: center;
    background-color: #e71f8f;
    padding: 10px 10px 10px 10px;
}
#error_message {
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}
.error_icon {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

.configure {
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.copy_text {
    width: 15px;
    height: 15px;
}
.error {
    width: 20px;
    height: 20px;
}

h1#title {
    font-size: medium;
}
h2#configure {
    font-size: medium;
    /* color: white; */
    /* color: #e71f8f; */
    /* background-color: #e71f8f; */
    padding-left: 10px;
}

button {
    height: 44px;
    padding-left: 35px;
    padding-right: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    color: white;
    background-color: #454090;
    border: 1px solid #DD253F;
    transition: transform .2s;
}
button:active {
    transform: scale(.95);
}
button:disabled {
    filter:brightness(0.8);
    cursor: not-allowed;
    transform: scale(1);
    border: none;
}
.button_niji {
    height: 44px;
    padding-left: 35px;
    padding-right: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    color: white;
    background-color: #F39728;
    border: 1px solid #e71f8f;
    transition: transform .2s;
}

div#help {
    margin-top: 10px;
    margin-bottom: 10px;
}
